@model Cat
@inject ICatService CatsNames
@{
    ViewData["Title"] = "Injecting Services into ASP.NET Core Razor Views";
    var cat = CatsNames.GetName();
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="text-center">
        <h1 class="display-4">Your cat name is @cat.Name</h1>
    </div>
</div>
